# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

# Eclipse Project Files
.cproject
.project
.settings

# Qt-creater File
*.user

# Autosave Files
*~
*.autosave

# DBoW2
covins_backend/thirdparty/DBoW2/build/
covins_backend/thirdparty/DBoW2/lib/
covins_backend/thirdparty/pnp/build/

thirdparty_deprecated/DBoW2/build/
thirdparty_deprecated/DBoW2/lib/

# Extracted Vocabularies
ORBvoc.txt
briskOKVIS_k10_L6_voc_v1.yml
brief_k10L6.bin

# Trajectory Write-Out
covins_backend/output/20*
covins_backend/output/KF*
covins_backend/output/RemovalPattern*
covins_backend/output/run*
covins_backend/output/Traj*
covins_backend/output/Stamped*
covins_backend/output/map_data
covins_backend/output/saved_maps

# CMake Build
build/
lib/

# ccls
.ccls-cache/
.ccls
compile_commands.json

# Vscode
.cache/
.vscode/
