<?xml version="1.0"?>
<launch>


<arg name="voc" default="/home/manthan/ws2/covins_ws/src/covins/orb_slam3/Vocabulary/ORBvoc.txt" />
<arg name="cam" default="/home/manthan/ws2/covins_ws/src/covins/orb_slam3/Examples/Monocular-Inertial/EuRoC.yaml" />


<node pkg="ORB_SLAM3" type="Mono_Inertial" name="ORB_SLAM3_monoi2" args="$(arg voc) $(arg cam)" output="screen"> 

    <remap from="/camera/image_raw" to="/cam0/image_raw2"/>
    <remap from="/imu" to="/imu2"/>

</node>

</launch>
